extends layout 

block content
  h1 #{title}: #{genre.name}

  if genre_books.length
    p #[strong 删除种类之前，必须先删除种类的所有书籍。]

    ul 
      each book in genre_books
        li
          a(href=book.url) #{book.title}
  else 
    p 你确定要删除这个种类吗？

    form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') 删除
