extends layout

block content
  h1= title
  p 欢迎来到#[em LocalLibrary]，这是一个基于Mozilla Developer Network上的教程开发的Express网站。
  h1 动态内容

  if error
    p 获取动态内容时出错。
  else
    p 图书馆有以下记录数：

    ul
      li #[strong 图书:] !{data.book_count}
      li #[strong 图书副本:] !{data.book_instance_count}
      li #[strong 可借阅的图书副本:] !{data.book_instance_available_count}
      li #[strong 作者:] !{data.author_count}
      li #[strong 分类:] !{data.genre_count}